# Autotools output generated in a Git checkout
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/ylwrap

/*/Makefile
/*/Makefile.in
/*/.deps/
/*/*/Makefile
/*/*/Makefile.in
/*/*/.deps/
/*/*/*/Makefile
/*/*/*/Makefile.in
/*/*/*/.deps/
/*/*/*/*/Makefile
/*/*/*/*/Makefile.in
/*/*/*/*/.deps/
/*/*/*/*/*/Makefile
/*/*/*/*/*/Makefile.in
/*/*/*/*/*/.deps/

# Out-of-tree builds and compiled objects
/build/
*.o
*.lo
*.la
.libs/
/src/gdlg3

# Generated documentation
/doc/gdlg3.info
/doc/gdlg3.info-*
/doc/stamp-vti
/doc/version.texi
